@font-face {
    font-family: 'Colleged';
    src: url('../fonts/colleged/Colleged.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Thin';
    src: url('../fonts/montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: lighter;
    font-style: lighter;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: bolder;
    font-style: bolder;
}


@font-face {
    font-family: 'Hind-Regular';
    src: url('../fonts/hind/Hind-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hind-Medium';
    src: url('../fonts/hind/Hind-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Hind-Light';
    src: url('../fonts/hind/Hind-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: lighter;
}
@font-face {
    font-family: 'Hind-Semibold';
    src: url('../fonts/hind/Hind-Semibold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'Hind-Bold';
    src: url('../fonts/hind/Hind-Bold.ttf') format('truetype');
    font-weight: bolder;
    font-style: bolder;
}




body {
    font-family: 'Hind-Light', sans-serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: normal;
}


#homePageImage {
    background-image: url(/img/football-field.png);
    background-repeat: no-repeat;
    background-position: top right fixed;
    background-size: cover;
}

h1 {
    font-family: 'Colleged', serif;
    font-size: 7rem;
    font-style: normal;
    font-weight: normal;
    color: #292900;
}

h2 {
    font-family: 'Montserrat-Regular', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: normal;
    color: #000;
}

h3 {
    font-family: 'Montserrat-Light', serif;
    font-size: 3rem;
    font-style: lighter;
    font-weight: normal;
    color: #000;
}

h4 {
    font-family: 'Montserrat-Black', serif;
    font-size: 2rem;
    font-style: bolder;
    font-weight: bolder;
    color: #292900;
}

label {
    font-style: italic;
}


/* Navbar */
.navbar-default .navbar-brand {
	font-family: 'Montserrat-Bold', serif;
    font-size: 2.5rem;
    font-style: bold;
    font-weight: bold;
    color: #000;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
	background-image: none;
	background-repeat: no-repeat;
	border-radius: none;
	box-shadow: none;
    margin-top: 15px;
}

.navbar-default .navbar-nav > .logIn > a {
	background-color: #B8D8D8 !important;
	background-image: none;
}

.navbar-default .navbar-nav > .logIn > a:hover {
    background-color: #C6E0E0 !important;
    background-image: none;
}

#homePageImage > .container > .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    text-shadow: none;
}

#homePageImage > .container > .navbar-default .navbar-nav > li > a:hover {
    color: #292900;
}




/* Home page styles */
.whiteHeader {
}

#homeSelectionForm {
    margin-bottom: 100px;
}

.btn-block {
    display: block;
    width: 100%;
    border-radius: 0;
    background-color: #3DA76E;
    color: #ffffff;
}

.btn-block:hover {
    display: block;
    width: 100%;
    border-radius: 0;
    background-color: #64B98B;
}


/* Login / Sign Up page */
.noPaddingLeft {
    padding-left: 0px;
}

.noPaddingRight {
    padding-right: 0px;
}

.form-control, .dropdown-toggle {
    border-radius: 0px;
}

.form-group {
    margin-bottom: 25px;
}

.homeHeadLine {
    text-align: center;
    display: block;
}

.btn-signUp {
    display: block;
    width: 100%;
    border-radius: 0;
    background-color: #FFA347;
    color: #ffffff;
}

.noFloatButton {
    float: none;
}

/* Dashboard */
#playerStats {
    margin-bottom: 50px;
}


/* Search Results */
#filterSearchResultsColumn {
    height: 100%;
}

.thumbnailImage {
    margin: 20px;
}
.resultsText {
    display: inline-block;
}

.individualResult {
    border: solid 1px #777;
}

.noHeaderSpace {
    margin-top: 0px;
}

.updateResultsSubmit {
    margin-top: 15px;
}

.media {
    margin-bottom: 30px;
}

/* Footer */
.footer {
    padding-top: 25px;
    padding-bottom: 25px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 100px;
    max-height: 100%;
    background-color: #efefef;
}

/* Media queries */
@media (max-width: 767px) {
    .noPaddingLeft {
    padding-left: 0px;
    padding-right: 0px;
}

    .noPaddingRight {
        padding-right: 0px;
        padding-left: 0px;
    }

    .media {
        padding-left: 0px;
        padding-right: 0px;
    }

}



